.table_content{
    border: 4px solid black;
}

.table{
    background-color: rgb(150, 172, 178);
    border: 3px solid beige;
    
}

button{
    background-color: rgb(111, 239, 111);
    border-radius: 5px;
    color: rgb(6, 23, 74);
}

button:hover{
    timeline-trigger: 0.5s;
    background-color: aliceblue;
}